.todo-container{
    background: #f0efef;
    width: 70vw;
    margin: 10em;
    border-radius: 10px;
    padding: 15px;
    color: rgb(4, 1, 1);
    font-weight: bold;

}

.header{
    font-size:3em;
    text-align: center;
}

.input-container{
    background: #bae6ff;
    padding: 0.5;
    border-radius: 10px;
    border: 5px solid rgb(245, 241, 241);
}

.input{
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px;
    border-radius: 12px;
    padding: .5em;
    margin: 1em;
    width: 80%;
    

}
.add-btn{
    border-radius: 7px;
    font-size: 2em;
    margin: 6px;
    padding: 15px;
    border: none;
    cursor: pointer;
    color: black;
    background-color: #d4f3ff;

}

.list-task{
    font-size:1.5em;
    font-weight: bold;
    font-style:italic ;
    color: black;
    background-color:#d9f2fc;
    border: 1px solid #1ab9f7;
    border-radius: 12px;
    padding: 0.5em;
    margin: 0.5em;
}

.delete-btn{
    border-radius:5px;
    margin:0px 5px;
     padding: 5px,5px;
     border: none;
     cursor: pointer;
     color: black;
     background-color: #c50303;
     float: right;
     font-size: 1em;
     border-radius: 100px;

    
}


